.inputContainer {
    display: flex;
    flex-direction: column;
}

.verify_button {
    color: white;
    background-color: black;
    align-self: center;
    border-radius:28px;
    display:inline-block;
    font-size:30px;
    padding:16px 50px;
}

.cred_div {
    text-align: center;
}

.VC {
    font-size: 25px;
}